* {
    margin:0;
    padding: 0;
}

html, body {
    width:100%;
    height:100%;
    overflow-x: hidden;
}

/* header styles */

.header-content {
    width:60%;
    height:80px;
    margin:0 auto;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    right:0;
    z-index: 5;
}

.header-content nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size:16px;
    color: #ffffff;
    margin-left:24px;
    text-decoration: none;
}

.header-content nav a:last-child {
    text-transform: uppercase;
    font-weight:700;
    font-size:14px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 8px 24px;
    transition: .5s;
}

.header-content nav a:last-child:hover {
    text-transform: uppercase;
    font-weight:700;
    font-size:14px;
    border-radius: 5px;
    padding: 8px 24px;
    background-color: #ffffff;
    color:#FF9A8B;
}

/* main section styles */

.main-section {
    position:relative;
    width:60%;
    height: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-content-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#000000;
    margin-bottom: 24px;
}

.main-content-header {
    font-family: 'Cormorant Garamond', serif;
    font-size: 88px;
    font-weight: 700;
    line-height: 80px;
    color:#000000;
    margin-bottom: 24px;
}

.main-content-sub-header {
    width:320px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
}

.main-content-button {
    text-transform: uppercase;
    font-weight:700;
    font-size:14px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px 24px;
    background-color: transparent;
    transition:.5s;    
}

.main-content-button:hover {
    text-transform: uppercase;
    font-weight:700;
    font-size:14px;
    border-radius: 5px;
    padding: 8px 24px;
    background-color: #FF9A8B;
    background-image: linear-gradient(45deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); 
    color:#ffffff;
    border: 1px solid transparent;
}

.main-content-split-color {
    width: 100%;
    height: calc(100% + 80px);
    background-color: #FF9A8B;
    background-image: linear-gradient(45deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); 
    position: absolute;
    top:-80px;
    right:-600px;
    z-index:-3;
}

.floating-image {
    position: absolute;
    width:70%;
    height:auto;
    top:-20px;
    right:-80px;

/* about section styles */

/* .about-section {
    width:50%;
    height: auto;
    background-color:#ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

} */

